body {padding-top: 80px;}

footer {background-color: #000000;
color:white;
margin-top:40px;
padding-top:30px;
padding-bottom:60px;
}

footer a{color:#FFFFFF;}

.adresse {margin-bottom:15px !important;}
